*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkolivegreen;
    font-family: initial;
    outline: inset;

}
.abdulla2{
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.abdulla{
    background-color: red;
    padding: 35px;
    border-radius: 5px;
    box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, .16);
    display: grid;
  grid-template-columns: repeat(4, 68px);
}
input {
  grid-column: span 4;
  height: 70px;
  widows: 260px;
  background-color: aliceblue;
  box-shadow: inset -5px -5px 12px #FFFFFF, inset 5px 5px 12px rgba(0, 0, 0, .16);
  border: none;
  border-radius: 10px;
  color: rgb(70, 70, 70);
  font-size: 50px;
  text-align: end;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px;
}


button {
  height: 48px;
  width: 48px;
  background-color: green;
  box-shadow: -5px -5px 12px gold, 5px 5px 12px rgba(0, 0, 0, .16);
  border: none;
  border-radius: 50%;
  margin: 8px;
  font-size: 16px;
  font-weight: bold;
}


.equal {
  width: 115px;
  border-radius: 40px;
  background-color: green;
  box-shadow: -5px -5px 12px gold, 5px 5px 12px rgba(0, 0, 0, .16);
}
